
pip
db- dtypes
google-cloud-aiplatform
google-cloud-big
jupyter
category-encoders==2.6.3
lightgbm==4.4.0
matplotlib==3.7.5
missingno==0.5.2
numpy==1.26.4
pandas==2.1.415
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-optimize==0.10.1
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
shap==0.46.0
xgboost==2.0.3